
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h1>Wellcome to my sails</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, nemo!</p>
				<p><a class="btn btn-success btn-lg" href="/user/new" role="button">Sign up now!</a></p>
			</div>
		</div>
	</div>
</div>
